services:
  pgdatabase:
    image: postgres
    restart: always
    ports: 
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${USERNAME}
      POSTGRES_DB: 'ny_taxi'
    volumes:
      - ny_taxi_postgres_data:/var/lib/postgresql
  
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports: 
      - '8085:80'
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  ny_taxi_postgres_data:
  pgadmin_data: